@import "tailwindcss";

:root {
  /* Fonts */
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-sans text-base text-zinc-900 leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }

  h5,
  h6 {
    @apply font-sans;
  }

  a {
    @apply decoration-0;
  }

  a:hover {
    @apply underline underline-offset-4;
  }

  p {
    @apply my-2 text-base text-zinc-600;
  }
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-sm;
}